src/main/resources/schema/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://asialife.kz/ws" elementFormDefault="qualified">

    <xs:element name="authorizationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iin" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="authorizationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iin" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="fio" type="xs:string"/>
                <xs:element name="phone" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="changePasswordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iin" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="oldPass" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="changePasswordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iin" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="oldPass" type="xs:string"/>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="osrnsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="oked" type="xs:int"/>
                <xs:element name="yearFond" type="xs:double"/>
                <xs:element name="col_sotr" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="osrnsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="premKz" type="xs:string"/>
                <xs:element name="sumStrahKz" type="xs:string"/>
                <xs:element name="err" type="xs:string"/>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="mstRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country1" type="xs:int"/>
                <xs:element name="country2" type="xs:int"/>
                <xs:element name="country3" type="xs:int"/>
                <xs:element name="sumStrah" type="xs:int"/>
                <xs:element name="insuranceProgramm" type="xs:int"/>
                <xs:element name="beginDate" type="xs:string"/>
                <xs:element name="endDate" type="xs:string"/>
                <xs:element name="birthDate" type="xs:string"/>
                <xs:element name="rprogSrok" type="xs:int"/>
                <xs:element name="rprogMaxDays" type="xs:int"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="mstResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="premKz" type="xs:string"/>
                <xs:element name="kurs" type="xs:string"/>
                <xs:element name="sumStrahKz" type="xs:string"/>
                <xs:element name="premEur" type="xs:string"/>
                <xs:element name="err" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>