src/main/resources/schema/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ffin="http://ffinlife/ws"
           targetNamespace="http://ffinlife/ws" elementFormDefault="qualified">

    <xs:complexType name="commonRequest">
        <xs:sequence>
            <xs:element type="xs:string" name="sessionId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="commonResponse">
        <xs:sequence>
            <xs:element type="xs:boolean" name="success" default="true"/>
            <xs:element type="xs:string" name="message"/>
        </xs:sequence>
    </xs:complexType>



    <xs:element name="authorizationWSRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="authorizationWSResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionId" type="xs:string"/>
                <xs:element name="state" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="authorizationRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="iin" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="authorizationResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="fio" type="xs:string"/>
                        <xs:element name="phone" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="authorizationCabAgentRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="login" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="authorizationCabAgentResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="agentID" type="xs:string"/>
                        <xs:element name="roleID" type="xs:string" />
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="registrationCabAgentRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="compNumber" type="xs:string"/>
                        <xs:element name="iin" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="question" type="xs:string"/>
                        <xs:element name="answer" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="registrationCabAgentResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="cabResult" type="xs:int"/>
                        <xs:element name="cabMessage" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="registrationClientRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="inn" type="xs:string"/>
                        <xs:element name="docNumber" type="xs:string"/>
                        <xs:element name="phone" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="registrationClientResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="clientVerifyRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="inn" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="clientVerifyResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cabCountryRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cabCountryResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="countries" type="ffin:document6" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>




    <xs:element name="registrationFreedomTravelRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="country1" type="xs:int"/>
                        <xs:element name="country2" type="xs:int"/>
                        <xs:element name="country3" type="xs:int"/>
                        <xs:element name="rprogramm" type="xs:int"/>
                        <xs:element name="rprogSrok" type="xs:int"/>
                        <xs:element name="progMaxDays" type="xs:int"/>
                        <xs:element name="dateStart" type="xs:string"/>
                        <xs:element name="dateEnd" type="xs:string"/>
                        <xs:element name="curRate" type="xs:int"/>
                        <xs:element name="fioKir" type="xs:string"/>
                        <xs:element name="fioLat" type="xs:string"/>
                        <xs:element name="inn" type="xs:string"/>
                        <xs:element name="resId" type="xs:string"/>
                        <xs:element name="address" type="xs:string"/>
                        <xs:element name="sex" type="xs:string"/>
                        <xs:element name="dateBirth" type="xs:string"/>
                        <xs:element name="region" type="xs:int"/>
                        <xs:element name="fioKir2" type="xs:string"/>
                        <xs:element name="fioLat2" type="xs:string"/>
                        <xs:element name="iin2" type="xs:string"/>
                        <xs:element name="resId2" type="xs:string"/>
                        <xs:element name="address2" type="xs:string"/>
                        <xs:element name="sex2" type="xs:string"/>
                        <xs:element name="dateBirth2" type="xs:string"/>
                        <xs:element name="region2" type="xs:int"/>
                        <xs:element name="passportNum" type="xs:string"/>
                        <xs:element name="passportGive" type="xs:string"/>
                        <xs:element name="passportDate" type="xs:string"/>
                        <xs:element name="passportDateEnd" type="xs:string"/>
                        <xs:element name="doc_type" type="xs:int"/>
                        <xs:element name="passportNum2" type="xs:string"/>
                        <xs:element name="passportGive2" type="xs:string"/>
                        <xs:element name="passportDate2" type="xs:string"/>
                        <xs:element name="passportDateEnd2" type="xs:string"/>
                        <xs:element name="mobilePhone" type="xs:string"/>
                        <xs:element name="phone" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="mobilePhone2" type="xs:string"/>
                        <xs:element name="phone2" type="xs:string"/>
                        <xs:element name="email2" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="registrationFreedomTravelResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="repWorkActCabRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="agentLogin" type="xs:string"/>
                        <xs:element name="repType" type="xs:string"/>
                        <xs:element name="agentId" type="xs:string"/>
                        <xs:element name="departmentId" type="xs:string"/>
                        <xs:element name="regionId" type="xs:string"/>
                        <xs:element name="subDepartmentId" type="xs:string"/>
                        <xs:element name="dateFrom" type="xs:string"/>
                        <xs:element name="dateTo" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="repWorkActCabResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="resultCabWorkAct" type="xs:int"/>
                        <xs:element name="messageCabWorkAct" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="proofPaymentRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="proofPaymentResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="result" type="xs:string" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cabMTOMRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="docNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cabMTOMResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="mtom" type="xs:base64Binary"/>
                        <xs:element name="type" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="changePasswordRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                        <xs:sequence>
                            <xs:element name="iin" type="xs:string"/>
                            <xs:element name="oldPass" type="xs:string"/>
                            <xs:element name="password" type="xs:string"/>
                        </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="changePasswordResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="changePassCabAgentRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="agentLogin" type="xs:string"/>
                        <xs:element name="oldPass" type="xs:string"/>
                        <xs:element name="newPass1" type="xs:string"/>
                        <xs:element name="newPass2" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="changePassCabAgentResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="changePassResult" type="xs:int"/>
                        <xs:element name="changePassMessage" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="recoveryPassCabAgentRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="agentLogin" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="answer" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="recoveryPassCabAgentResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="recoveryPassCabAgentResult" type="xs:int"/>
                        <xs:element name="recoveryPassCabAgentMessage" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>




    <xs:element name="cabPayRollRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="agentLogin" type="xs:string"/>
                        <xs:element name="repType" type="xs:string"/>
                        <xs:element name="agentId" type="xs:string"/>
                        <xs:element name="departmentId" type="xs:string"/>
                        <xs:element name="subDepartmentId" type="xs:string"/>
                        <xs:element name="regionId" type="xs:string"/>
                        <xs:element name="agentFIO" type="xs:string"/>
                        <xs:element name="agentNumber" type="xs:string"/>
                        <xs:element name="dateFrom" type="xs:string"/>
                        <xs:element name="dateTo" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cabPayRollResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="cabPAyRollResult" type="xs:int"/>
                        <xs:element name="cabPAyRollMessage" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="calculatorOsrnsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="oked" type="xs:int"/>
                        <xs:element name="yearFond" type="xs:double"/>
                        <xs:element name="col_sotr" type="xs:int"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="calculatorOsrnsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="premKz" type="xs:string"/>
                        <xs:element name="sumStrahKz" type="xs:string"/>
                        <xs:element name="err" type="xs:string"/>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="calculatorFreedomTravelRequest">
        <xs:complexType>
                <xs:complexContent>
                    <xs:extension base="ffin:commonRequest">
                        <xs:sequence>
                            <xs:element name="country1" type="xs:int"/>
                            <xs:element name="country2" type="xs:int"/>
                            <xs:element name="country3" type="xs:int"/>
                            <xs:element name="sumStrah" type="xs:int"/>
                            <xs:element name="insuranceProgramm" type="xs:int"/>
                            <xs:element name="beginDate" type="xs:string"/>
                            <xs:element name="endDate" type="xs:string"/>
                            <xs:element name="birthDate" type="xs:string"/>
                            <xs:element name="rprogSrok" type="xs:int"/>
                            <xs:element name="rprogMaxDays" type="xs:int"/>
                            <xs:element name="email" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="calculatorFreedomTravelResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="premKz" type="xs:string"/>
                        <xs:element name="kurs" type="xs:string"/>
                        <xs:element name="sumStrahKz" type="xs:string"/>
                        <xs:element name="premEur" type="xs:string"/>
                        <xs:element name="err" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>




    <xs:element name="calculatorFreedomFutureRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="periodichnost" type="xs:string"/>
                        <xs:element name="sex" type="xs:string"/>
                        <xs:element name="clnYears" type="xs:int"/>
                        <xs:element name="srokYears" type="xs:int"/>
                        <xs:element name="strSum" type="xs:int"/>
                        <xs:element name="ADB" type="xs:int"/>
                        <xs:element name="ATPD" type="xs:int"/>
                        <xs:element name="TT" type="xs:int"/>
                        <xs:element name="CI" type="xs:int"/>
                        <xs:element name="TD" type="xs:int"/>
                        <xs:element name="HD" type="xs:int"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="calculatorFreedomFutureResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="number" type="xs:string"/>
                        <xs:element name="OutADB" type="xs:string"/>
                        <xs:element name="OutATPD" type="xs:string"/>
                        <xs:element name="OutTT" type="xs:string"/>
                        <xs:element name="OutCI" type="xs:string"/>
                        <xs:element name="OutTD" type="xs:string"/>
                        <xs:element name="OutHD" type="xs:string"/>
                        <xs:element name="OutTPD" type="xs:string"/>
                        <xs:element name="OutALL" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="calculatorFreedomProtectRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="periodichnost" type="xs:string"/>
                        <xs:element name="clnYears" type="xs:int"/>
                        <xs:element name="srokYears" type="xs:int"/>
                        <xs:element name="strSumRip" type="xs:int"/>
                        <xs:element name="strSumDop" type="xs:int"/>
                        <xs:element name="strSumNs" type="xs:int"/>
                        <xs:element name="strSumBody" type="xs:int"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="calculatorFreedomProtectResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="number" type="xs:string"/>
                        <xs:element name="outStrSumDop" type="xs:string"/>
                        <xs:element name="outStrSumNs" type="xs:string"/>
                        <xs:element name="outStrSumBody" type="xs:string"/>
                        <xs:element name="outALL" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="calculatorFreedomKidsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="periodichnost" type="xs:string"/>
                        <xs:element name="sex" type="xs:string"/>
                        <xs:element name="clnYears" type="xs:int"/>
                        <xs:element name="srokYears" type="xs:int"/>
                        <xs:element name="strSum" type="xs:int"/>
                        <xs:element name="DB" type="xs:int"/>
                        <xs:element name="ADB" type="xs:int"/>
                        <xs:element name="ATPD" type="xs:int"/>
                        <xs:element name="TT" type="xs:int"/>
                        <xs:element name="CI" type="xs:int"/>
                        <xs:element name="TD" type="xs:int"/>
                        <xs:element name="HD" type="xs:int"/>
                        <xs:element name="TTV" type="xs:int"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="calculatorFreedomKidsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="number" type="xs:string"/>
                        <xs:element name="OutDB" type="xs:string"/>
                        <xs:element name="OutADB" type="xs:string"/>
                        <xs:element name="OutATPD" type="xs:string"/>
                        <xs:element name="OutTT" type="xs:string"/>
                        <xs:element name="OutCI" type="xs:string"/>
                        <xs:element name="OutTD" type="xs:string"/>
                        <xs:element name="OutHD" type="xs:string"/>
                        <xs:element name="OutTPD" type="xs:string"/>
                        <xs:element name="OutTTV" type="xs:string"/>
                        <xs:element name="OutALL" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="calculatorCabRewardRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="agentID" type="xs:string"/>
                        <xs:element name="productId" type="xs:string"/>
                        <xs:element name="bonusAmount" type="xs:string"/>
                        <xs:element name="termInsurance" type="xs:string"/>
                        <xs:element name="yearPayment" type="xs:string"/>
                        <xs:element name="subordinate" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="calculatorCabRewardResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence>
                        <xs:element name="cabRewardResult" type="xs:int"/>
                        <xs:element name="cabRewardMessage" type="xs:string"/>
                        <xs:element name="commissionAmount" type="xs:string"/>
                        <xs:element name="unitsAmount" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="inn" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="cursor" type="ffin:document" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="document">
        <xs:sequence>
            <xs:element name="col1" type="xs:string" />
            <xs:element name="col2" type="xs:string" />
            <xs:element name="col3" type="xs:string" />
            <xs:element name="col4" type="xs:string" />
            <xs:element name="col5" type="xs:string" />
            <xs:element name="col6" type="xs:string" />
            <xs:element name="col7" type="xs:string" />
            <xs:element name="col8" type="xs:string" />
            <xs:element name="col9" type="xs:string" />
            <xs:element name="col10" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="cursorAgentIDRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="departmentID" type="xs:string"/>
                        <xs:element name="regionID" type="xs:string"/>
                        <xs:element name="subDepID" type="xs:string"/>
                        <xs:element name="FIO" type="xs:string"/>
                        <xs:element name="agentNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorAgentIDResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="agentsID" type="ffin:document2" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorProductsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorProductsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="products" type="ffin:document1" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorDepartmentsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorDepartmentsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="departments" type="ffin:document1" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorRegionsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorRegionsResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="regions" type="ffin:document1" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorSubDepRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorSubDepResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="subDep" type="ffin:document1" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorAgentTreeRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="agentID" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorAgentTreeResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="agentTree" type="ffin:document2" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorAutoPayRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorAutoPayResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="info" type="ffin:document5" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorWorkActTableRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                    <xs:sequence>
                        <xs:element name="agentID" type="xs:string"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorWorkActTableResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="agentInfo" type="ffin:document4" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>




    <xs:element name="cursorAgentLevelRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorAgentLevelResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="agentLevels" type="ffin:document3" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="cursorAgentConditionRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonRequest">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="cursorAgentConditionResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ffin:commonResponse">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="agentConditions" type="ffin:document3" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:complexType name="document1">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="name" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="document2">
        <xs:sequence>
            <xs:element name="agentID" type="xs:string" />
            <xs:element name="managerID" type="xs:string" />
            <xs:element name="FIO" type="xs:string" />
            <xs:element name="login" type="xs:string" />
            <xs:element name="agentNo" type="xs:string" />
            <xs:element name="agentLevel" type="xs:string" />
            <xs:element name="regionID" type="xs:string" />
            <xs:element name="depID" type="xs:string" />
            <xs:element name="subDepID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="document3">
        <xs:sequence>
            <xs:element name="No" type="xs:string" />
            <xs:element name="Text" type="xs:string" />
            <xs:element name="Award" type="xs:string" />
            <xs:element name="Tarif" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="document4">
        <xs:sequence>
            <xs:element name="department" type="xs:string" />
            <xs:element name="region" type="xs:string" />
            <xs:element name="agentNo" type="xs:string" />
            <xs:element name="FIO" type="xs:string" />
            <xs:element name="award" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="document5">
        <xs:sequence>
            <xs:element name="data" type="xs:string" />
            <xs:element name="sum" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="document6">
        <xs:sequence>
            <xs:element name="codeOfCountry" type="xs:string" />
            <xs:element name="nameOfCountry" type="xs:string" />
            <xs:element name="territoryCountry" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>